
:root{
    --red:#FA4B4B ;
  
  }
  
  
  *{
      font-family: 'Poppins', sans-serif;
      margin: 0; 
      padding: 0;
      box-sizing: border-box;
      text-decoration: none;
      outline:  none;
      border: none;
      text-transform: capitalize;
      transition: all .2s linear;
  }
  
  *::selection{
      background: var(--red);
      color: #333;
  }
  
  html{
      font-size: 62.5%;
      overflow: hidden;
  }
  
  
  html::-webkit-scrollbar{
      width: 1.4rem;
  }
  
  html::-webkit-scrollbar-track{
      background: #222;
  }
  
  html::-webkit-scrollbar-thumb{
      background:var(--red);
  }
  
  body{
      background: #111;
      overflow: hidden;
      padding-left: 35rem;
  }
  
  section{
      min-height: 100vh;
      padding: 1rem;
  }
  
  .btn{
      padding: .7rem 3rem;
      background: #333;
      color: #fff;
      cursor: pointer;
      margin-top: 1rem;
      font-size: 2rem;
      border-radius: 5rem;
  }
  
  
  .btn i{
      padding: 0 .5rem;
      font-size: 1.8rem;
  }
  
  .btn:hover{
      background: #FF5733 ;
  }
  
  header{
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;
      height: 100%;
      width: 20.3rem;
      background: #1a1a1a;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
      text-align: center;
  }
  
  
  
  header .user img{
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  border: .7rem solid red; 
  }
  
  
  header .user .name{
      font-size: 3.5rem;
      color: #fff;
  }
  
  
  
  header .user .email{
      font-size: 2rem;
      color: #eee;
  }
  header .user .phone{
      font-size: 2rem;
      color: #eee;
  }
  
  .songs .edit{
  
  
      font-size: 2rem;
      color:#D51F10;
     
  }
  
  
  header .navbar .logout{
      font-size: 3rem;
      color:#B41C10 ;
     
  }
  
  header .navbar{
  width: 100%;
  
  }
  
  header .navbar ul{
  list-style: none;
      padding: 1rem 3rem;
  }
  
  
  header .navbar ul li a{
   display:block;
   padding: 1rem;
   margin: 1rem 0;
   background: #333;
   color: #fff;
   font-size: 2rem;
   border-radius: 5rem;
   text-decoration: none;
  
  }
  
  header .navbar ul li a:hover{
      background: #FA4B4B ;
      
  }
  
  
  /* css form */



body {
    background-color: black;
    padding-top: 85px;
}

h1 {
    font-family: 'Poppins', sans-serif, 'arial';
    font-weight: 600;
    font-size: 50px;
    color: #fff;
    text-align: center;
}


h4 {
    font-family: 'Roboto', sans-serif, 'arial';
    font-weight: 400;
    font-size: 20px;
    color: #9b9b9b;
    line-height: 1.5;
}

/* ///// inputs /////*/

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size:1.2em;
    color: red;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
    
}

.styled-input {
    
    width: 300px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}


.styled-input label {
    color:red;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide { 
    width: 633px;
   
}

input,
textarea {
    padding: 20px;
    border: 0;
    width: 100%;
    font-size: 2rem;
    background-color: #2d2d2d;
    color: #fff;
    border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 15em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    
}

.btnSave{
    padding: .7rem 3rem;
    background: #b1adad;
    color:#D51F10;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
    margin-left: 110%;
}



.btnSave:hover{
    background: #FF5733 ;
}

.btnDelete{
    padding: .10rem 5rem;
    background: rgba(0, 0, 0, 0.391);
    color:#D51F10;
    cursor: pointer;
    font-size: 2rem;
    border-radius: 5rem;
    margin-left: 50%;
}



.btnDelete:hover{
    background: #FF5733 ;
}




@media (max-width: 768px) {
    .submit-btn {
        width:100%;
        float: none;
        text-align:center;
    }
}

input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
} 

input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}